<div [@modal] *ngIf="visible" class="sui-modal">
    <div class="sui-modal-content">
        <header class="{{'sui-padding-left '+cssClassHeader}}">
            <button *ngIf="closable" (click)="close()" aria-label="Close" class="sui-closebtn">X</button>
            <h3> <i class="{{headerIcon}}"> </i> {{headerText}}</h3>
        </header>
        <div class="sui-container sui-margin-top">
            <ng-content></ng-content>
        </div>
        <br/>
    </div>
</div>
<div *ngIf="visible" class="sui-overlay" (click)="close()"></div>