.sui-btn {
  background-color: #000000;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none!important;
  vertical-align: middle;
  white-space: nowrap;
}
.sui-btn-block {
  background-color: #000000;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none!important;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.sui-btn:hover,
.sui-btn-block:hover,
.sui-btn-floating:hover,
.sui-btn-floating-large:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sui-btn,
.sui-btn-floating,
.sui-btn-floating-large,
.sui-closenav,
.sui-opennav {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.sui-btn-floating {
  background-color: #000000;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.sui-btn-floating-large {
  background-color: #000000;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 56px;
  z-index: 1;
}
.sui-disabled,
.sui-btn:disabled,
.sui-btn-floating:disabled,
.sui-btn-floating-large:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.sui-btn.sui-disabled *,
.sui-btn-block.sui-disabled,
.sui-btn-floating.sui-disabled *,
.sui-btn:disabled *,
.sui-btn-floating:disabled * {
  pointer-events: none;
}
.sui-btn.sui-disabled:hover,
.sui-btn-block.sui-disabled:hover,
.sui-btn:disabled:hover,
.sui-btn-floating.sui-disabled:hover,
.sui-btn-floating:disabled:hover,
.sui-btn-floating-large.sui-disabled:hover,
.sui-btn-floating-large:disabled:hover {
  box-shadow: none;
}
.sui-btn-group .sui-btn {
  float: left;
}
.sui-btn-bar .sui-btn {
  background-color: inherit;
  box-shadow: none;
  color: inherit;
  float: left;
}
.sui-btn-bar .sui-btn:hover {
  background-color: #cccccc;
}
.sui-closebtn {
  color: inherit;
  float: right;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.sui-closebtn:hover {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
.sui-closebtn:focus {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
.sui-ripple {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
