/* Colors */

.sui-amber,
.sui-hover-amber:hover {
    color: #000!important;
    background-color: #ffc107!important
}

.sui-aqua,
.sui-hover-aqua:hover {
    color: #000!important;
    background-color: #00ffff!important
}

.sui-blue,
.sui-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important
}

.sui-light-blue,
.sui-hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important
}

.sui-brown,
.sui-hover-brown:hover {
    color: #fff!important;
    background-color: #795548!important
}

.sui-cyan,
.sui-hover-cyan:hover {
    color: #000!important;
    background-color: #00bcd4!important
}

.sui-blue-grey,
.sui-hover-blue-grey:hover,
.sui-blue-gray,
.sui-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #607d8b!important
}

.sui-green,
.sui-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important
}

.sui-light-green,
.sui-hover-light-green:hover {
    color: #000!important;
    background-color: #8bc34a!important
}

.sui-indigo,
.sui-hover-indigo:hover {
    color: #fff!important;
    background-color: #3f51b5!important
}

.sui-khaki,
.sui-hover-khaki:hover {
    color: #000!important;
    background-color: #f0e68c!important
}

.sui-lime,
.sui-hover-lime:hover {
    color: #000!important;
    background-color: #cddc39!important
}

.sui-orange,
.sui-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important
}

.sui-deep-orange,
.sui-hover-deep-orange:hover {
    color: #fff!important;
    background-color: #ff5722!important
}

.sui-pink,
.sui-hover-pink:hover {
    color: #fff!important;
    background-color: #e91e63!important
}

.sui-purple,
.sui-hover-purple:hover {
    color: #fff!important;
    background-color: #9c27b0!important
}

.sui-deep-purple,
.sui-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important
}

.sui-red,
.sui-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important
}

.sui-sand,
.sui-hover-sand:hover {
    color: #000!important;
    background-color: #fdf5e6!important
}

.sui-teal,
.sui-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important
}

.sui-yellow,
.sui-hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important
}

.sui-white,
.sui-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
}

.sui-black,
.sui-hover-black:hover {
    color: #fff!important;
    background-color: #000!important
}

.sui-grey,
.sui-hover-grey:hover,
.sui-gray,
.sui-hover-gray:hover {
    color: #000!important;
    background-color: #9e9e9e!important
}

.sui-light-grey,
.sui-hover-light-grey:hover,
.sui-light-gray,
.sui-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important
}

.sui-dark-grey,
.sui-hover-dark-grey:hover,
.sui-dark-gray,
.sui-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important
}

.sui-pale-red,
.sui-hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important
}

.sui-pale-green,
.sui-hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important
}

.sui-pale-yellow,
.sui-hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important
}

.sui-pale-blue,
.sui-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important
}

.sui-text-amber,
.sui-hover-text-amber:hover {
    color: #ffc107!important
}

.sui-text-aqua,
.sui-hover-text-aqua:hover {
    color: #00ffff!important
}

.sui-text-blue,
.sui-hover-text-blue:hover {
    color: #2196F3!important
}

.sui-text-light-blue,
.sui-hover-text-light-blue:hover {
    color: #87CEEB!important
}

.sui-text-brown,
.sui-hover-text-brown:hover {
    color: #795548!important
}

.sui-text-cyan,
.sui-hover-text-cyan:hover {
    color: #00bcd4!important
}

.sui-text-blue-grey,
.sui-hover-text-blue-grey:hover,
.sui-text-blue-gray,
.sui-hover-text-blue-gray:hover {
    color: #607d8b!important
}

.sui-text-green,
.sui-hover-text-green:hover {
    color: #4CAF50!important
}

.sui-text-light-green,
.sui-hover-text-light-green:hover {
    color: #8bc34a!important
}

.sui-text-indigo,
.sui-hover-text-indigo:hover {
    color: #3f51b5!important
}

.sui-text-khaki,
.sui-hover-text-khaki:hover {
    color: #b4aa50!important
}

.sui-text-lime,
.sui-hover-text-lime:hover {
    color: #cddc39!important
}

.sui-text-orange,
.sui-hover-text-orange:hover {
    color: #ff9800!important
}

.sui-text-deep-orange,
.sui-hover-text-deep-orange:hover {
    color: #ff5722!important
}

.sui-text-pink,
.sui-hover-text-pink:hover {
    color: #e91e63!important
}

.sui-text-purple,
.sui-hover-text-purple:hover {
    color: #9c27b0!important
}

.sui-text-deep-purple,
.sui-hover-text-deep-purple:hover {
    color: #673ab7!important
}

.sui-text-red,
.sui-hover-text-red:hover {
    color: #f44336!important
}

.sui-text-sand,
.sui-hover-text-sand:hover {
    color: #fdf5e6!important
}

.sui-text-teal,
.sui-hover-text-teal:hover {
    color: #009688!important
}

.sui-text-yellow,
.sui-hover-text-yellow:hover {
    color: #d2be0e!important
}

.sui-text-white,
.sui-hover-text-white:hover {
    color: #fff!important
}

.sui-text-black,
.sui-hover-text-black:hover {
    color: #000!important
}

.sui-text-grey,
.sui-hover-text-grey:hover,
.sui-text-gray,
.sui-hover-text-gray:hover {
    color: #757575!important
}

.sui-text-light-grey,
.sui-hover-text-light-grey:hover,
.sui-text-light-gray,
.sui-hover-text-light-gray:hover {
    color: #f1f1f1!important
}

.sui-text-dark-grey,
.sui-hover-text-dark-grey:hover,
.sui-text-dark-gray,
.sui-hover-text-dark-gray:hover {
    color: #3a3a3a!important
}

.sui-border-amber,
.sui-hover-border-amber:hover {
    border-color: #ffc107!important
}

.sui-border-aqua,
.sui-hover-border-aqua:hover {
    border-color: #00ffff!important
}

.sui-border-blue,
.sui-hover-border-blue:hover {
    border-color: #2196F3!important
}

.sui-border-light-blue,
.sui-hover-border-light-blue:hover {
    border-color: #87CEEB!important
}

.sui-border-brown,
.sui-hover-border-brown:hover {
    border-color: #795548!important
}

.sui-border-cyan,
.sui-hover-border-cyan:hover {
    border-color: #00bcd4!important
}

.sui-border-blue-grey,
.sui-hover-blue-grey:hover,
.sui-border-blue-gray,
.sui-hover-blue-gray:hover {
    border-color: #607d8b!important
}

.sui-border-green,
.sui-hover-border-green:hover {
    border-color: #4CAF50!important
}

.sui-border-light-green,
.sui-hover-border-light-green:hover {
    border-color: #8bc34a!important
}

.sui-border-indigo,
.sui-hover-border-indigo:hover {
    border-color: #3f51b5!important
}

.sui-border-khaki,
.sui-hover-border-khaki:hover {
    border-color: #f0e68c!important
}

.sui-border-lime,
.sui-hover-border-lime:hover {
    border-color: #cddc39!important
}

.sui-border-orange,
.sui-hover-border-orange:hover {
    border-color: #ff9800!important
}

.sui-border-deep-orange,
.sui-hover-border-deep-orange:hover {
    border-color: #ff5722!important
}

.sui-border-pink,
.sui-hover-border-pink:hover {
    border-color: #e91e63!important
}

.sui-border-purple,
.sui-hover-border-purple:hover {
    border-color: #9c27b0!important
}

.sui-border-deep-purple,
.sui-hover-border-deep-purple:hover {
    border-color: #673ab7!important
}

.sui-border-red,
.sui-hover-border-red:hover {
    border-color: #f44336!important
}

.sui-border-sand,
.sui-hover-border-sand:hover {
    border-color: #fdf5e6!important
}

.sui-border-teal,
.sui-hover-border-teal:hover {
    border-color: #009688!important
}

.sui-border-yellow,
.sui-hover-border-yellow:hover {
    border-color: #ffeb3b!important
}

.sui-border-white,
.sui-hover-border-white:hover {
    border-color: #fff!important
}

.sui-border-black,
.sui-hover-border-black:hover {
    border-color: #000!important
}

.sui-border-grey,
.sui-hover-border-grey:hover,
.sui-border-gray,
.sui-hover-border-gray:hover {
    border-color: #9e9e9e!important
}

.sui-border-light-grey,
.sui-hover-border-light-grey:hover,
.sui-border-light-gray,
.sui-hover-border-light-gray:hover {
    border-color: #f1f1f1!important
}

.sui-border-dark-grey,
.sui-hover-border-dark-grey:hover,
.sui-border-dark-gray,
.sui-hover-border-dark-gray:hover {
    border-color: #616161!important
}

.sui-border-pale-red,
.sui-hover-border-pale-red:hover {
    border-color: #ffe7e7!important
}

.sui-border-pale-green,
.sui-hover-border-pale-green:hover {
    border-color: #e7ffe7!important
}

.sui-border-pale-yellow,
.sui-hover-border-pale-yellow:hover {
    border-color: #ffffcc!important
}

.sui-border-pale-blue,
.sui-hover-border-pale-blue:hover {
    border-color: #e7ffff!important
}

.sui-hover-amber,
.sui-hover-aqua,
.sui-hover-blue,
.sui-hover-light-blue,
.sui-hover-brown,
.sui-hover-cyan,
.sui-hover-blue-grey,
.sui-hover-green,
.sui-hover-light-green,
.sui-hover-indigo,
.sui-hover-khaki,
.sui-hover-lime,
.sui-hover-orange,
.sui-hover-deep-orange,
.sui-hover-pink,
.sui-hover-purple,
.sui-hover-deep-purple,
.sui-hover-red,
.sui-hover-sand,
.sui-hover-teal,
.sui-hover-yellow,
.sui-hover-white,
.sui-hover-black,
.sui-hover-grey,
.sui-hover-light-grey,
.sui-hover-dark-grey,
.sui-hover-text-amber,
.sui-hover-text-aqua,
.sui-hover-text-blue,
.sui-hover-text-light-blue,
.sui-hover-text-brown,
.sui-hover-text-cyan,
.sui-hover-text-blue-grey,
.sui-hover-text-green,
.sui-hover-text-light-green,
.sui-hover-text-indigo,
.sui-hover-text-khaki,
.sui-hover-text-lime,
.sui-hover-text-orange,
.sui-hover-text-deep-orange,
.sui-hover-text-pink,
.sui-hover-text-purple,
.sui-hover-text-deep-purple,
.sui-hover-text-red,
.sui-hover-text-sand,
.sui-hover-text-teal,
.sui-hover-text-yellow,
.sui-hover-text-white,
.sui-hover-text-black,
.sui-hover-text-grey,
.sui-hover-text-light-grey,
.sui-hover-text-dark-grey {
    -webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s, filter 0.3s;
    transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s, filter 0.3s
}