input[type=checkbox].sui-check {
  height: 24px;
  position: relative;
  top: 6px;
  width: 24px;
}
input[type=checkbox].sui-check:checked + .sui-validate {
  color: #009688;
}
input[type=checkbox].sui-check:disabled + .sui-validate {
  color: #aaaaaa;
}
input[type=radio].sui-radio {
  height: 24px;
  position: relative;
  top: 6px;
  width: 24px;
}
input[type=radio].sui-radio:checked + .sui-validate {
  color: #009688;
}
input[type=radio].sui-radio:disabled + .sui-validate {
  color: #aaaaaa;
}
.sui-input-group {
  margin-bottom: 24px;
  margin-top: 24px;
}
.sui-group {
  margin-bottom: 24px;
  margin-top: 24px;
}
.sui-input {
  border-bottom: 1px solid #dddddd;
  border: none;
  display: block;
  padding: 8px;
}
.sui-label {
  color: #009688;
}
.sui-input:not(:valid) ~ .sui-validate {
  color: #f44336;
}
.sui-select {
  border-bottom: 1px solid #009688;
  border: 1px solid transparent;
  color: #000000;
  padding: 9px 0;
}
.sui-select select:focus {
  border: 1px solid #009688;
  color: #000000;
}
.sui-select option[disabled] {
  color: #009688;
}
.sui-dropdown-click {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.sui-dropdown-hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.sui-dropdown-hover:hover .sui-dropdown-content {
  display: block;
  z-index: 1;
}
.sui-dropdown-content {
  background-color: #ffffff;
  color: #000000;
  cursor: auto;
  display: none;
  margin: 0;
  min-width: 160px;
  padding: 0;
  position: absolute;
}
.sui-dropdown-content a {
  display: block;
  padding: 6px 16px;
}
.sui-dropdown-content a:hover {
  background-color: #f1f1f1;
}
