input[type=checkbox].sui-check {
  height: 24px;
  position: relative;
  top: 6px;
  width: 24px;
}
input[type=checkbox].sui-check:checked + .sui-validate {
  color: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
}
input[type=checkbox].sui-check:disabled + .sui-validate {
  color: #aaaaaa;
}
input[type=radio].sui-radio {
  height: 24px;
  position: relative;
  top: 6px;
  width: 24px;
}
input[type=radio].sui-radio:checked + .sui-validate {
  color: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
}
input[type=radio].sui-radio:disabled + .sui-validate {
  color: #aaaaaa;
}
.sui-input-group {
  margin-bottom: 24px;
  margin-top: 24px;
}
.sui-group {
  margin-bottom: 24px;
  margin-top: 24px;
}
.sui-input {
  border: none;
  border-bottom: 1px solid #dddddd;
  display: block;
  padding: 8px;
  width: 100%;
}
.sui-input-inline {
  border: none;
  border-bottom: 1px solid #dddddd;
  display: inline;
  padding: 8px;
}
.sui-label {
  color: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
}
.sui-input:not(:valid) ~ .sui-validate {
  color: #f44336;
}
.sui-select {
  border: 1px solid transparent;
  color: #000000;
  padding: 8.5px;
  border-bottom: 1px solid #dddddd;
}
.sui-select select:focus {
  border: 1px solid linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
  color: #000000;
}
.sui-select option[disabled] {
  color: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
}
.sui-dropdown-click {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.sui-dropdown-hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.sui-dropdown-hover:hover .sui-dropdown-content {
  display: block;
  z-index: 1;
}
.sui-dropdown-content {
  background-color: #ffffff;
  color: #000000;
  cursor: auto;
  display: none;
  margin: 0;
  min-width: 160px;
  padding: 0;
  position: absolute;
}
.sui-dropdown-content a {
  display: block;
  padding: 6px 16px;
}
.sui-text-error {
  color: #f44336;
}
.sui-danger {
  background: #f44336;
  color: white;
}
.sui-success {
  background: #4caf50;
  color: white;
}
.sui-info {
  background: #87ceeb;
  color: white;
}
