.sui-modal {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.sui-modal-content {
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
@media  (max-width: 600px) {
  .sui-modal-content {
    margin: 0 10px;
    width: auto !important;
  }
  .sui-modal {
    padding-top: 30px;
  }
}
@media  (max-width: 992px) and (min-width: 601px) {
  .sui-modal-content {
    width: 500px;
  }
  .sui-modal {
    padding-top: 50px;
  }
}
@media   (max-width: 1128px) and (min-width: 993px) {
  .sui-modal-content {
    width: 900px;
  }
}
@media  (min-width: 1129px) {
  .sui-modal-content {
    width: 1100px;
  }
}
