ul.sui-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.sui-ul li {
  border-bottom: 1px solid #dddddd;
  padding: 6px 2px 6px 16px;
}
ul.sui-ul li:last-child {
  border-bottom: none;
}
.sui-navbar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
  padding: 0;
}
.sui-navbar li {
  float: left;
}
.sui-navbar li a {
  color: #ffffff;
  display: block;
  opacity: 1;
  padding: 8px 16px;
}
.sui-navbar li a:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.sui-navbar .sui-dropdown-hover {
  position: static;
}
.sui-navbar .sui-dropdown-hover:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.sui-navbar .sui-dropdown-hover:first-child {
  background: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
  color: #ffffff;
}
.sui-navbar .sui-dropdown-click {
  position: static;
}
.sui-navbar .sui-dropdown-click:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.sui-navbar .sui-opennav.sui-right {
  float: right!important;
}
.sui-navitem {
  display: block;
  padding: 8px 16px;
}
.sui-navbar a,
.sui-topnav a,
.sui-sidenav a,
.sui-dropdown-content a,
.sui-accordion-content a,
.sui-dropnav a {
  text-decoration: none!important;
}
.sui-topnav {
  padding: 8px 8px;
}
.sui-topnav a {
  -webkit-transition: border-bottom 0.3s;
  border-bottom: 3px solid transparent;
  padding: 0 8px;
  transition: border-bottom 0.3s;
  color: #ffffff;
}
.sui-topnav a:hover {
  border-bottom: 3px solid #ffffff;
}
.sui-topnav .sui-dropdown-hover a {
  border-bottom: 0;
}
.sui-opennav {
  color: inherit;
}
.sui-opennav:hover {
  cursor: pointer;
  opacity: 0.8;
}
.sui-closenav {
  color: inherit;
}
.sui-closenav:hover {
  cursor: pointer;
  opacity: 0.8;
}
.sui-sidenav {
  background: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
  height: 100%;
  overflow: auto;
  position: fixed!important;
  width: 200px;
  z-index: 1;
}
.sui-sidenav a {
  display: block;
  padding: 4px 2px 4px 16px;
  color: #ffffff;
}
.sui-sidenav a:hover {
  background-color: #f1f1f1;
}
.sui-sidenav .sui-dropdown-hover {
  width: 100%;
}
.sui-sidenav .sui-dropdown-hover .sui-dropdown-content {
  min-width: 100%;
}
.sui-sidenav .sui-dropdown-click {
  width: 100%;
}
.sui-sidenav .sui-dropdown-click .sui-dropdown-content {
  min-width: 100%;
}
.sui-dropnav a {
  display: block;
}
.sui-sidenav .sui-dropdown-hover:hover,
.sui-sidenav .sui-dropdown-hover:first-child,
.sui-sidenav .sui-dropdown-click:hover,
.sui-dropnav a:hover {
  background: linear-gradient(to bottom, #00adee 0%, #0096d1 100%);
  color: #ffffff;
}
@media  (max-width: 600px) {
  .sui-topnav a {
    display: block;
  }
  .sui-navbar li:not(.sui-opennav) {
    float: none;
    width: 100% !important;
  }
  .sui-navbar li.sui-right {
    float: none !important;
  }
}
@media  (max-width: 600px) {
  .sui-topnav .sui-dropdown-hover .sui-dropdown-content,
  .sui-navbar .sui-dropdown-click .sui-dropdown-content,
  .sui-navbar .sui-dropdown-hover .sui-dropdown-content {
    position: relative;
  }
}
@media  (max-width: 600px) {
  .sui-topnav,
  .sui-navbar {
    text-align: center;
  }
}
@media  (max-width: 992px) and (min-width: 601px) {
  .sui-sidenav.sui-collapse {
    display: none;
  }
}
@media   (max-width: 1128px) and (min-width: 993px) {
  .sui-sidenav.sui-collapse {
    display: block !important;
  }
}
@media  (min-width: 1129px) {
  .sui-sidenav.sui-collapse {
    display: block !important;
  }
}
