<div class="sui-container">
    <form role="form" class="sui-form">
        <div *ngFor="let field of fields" class="sui-row">
            <label [attr.for]="field.key" class="sui-label">{{field.label}}</label>

            <input *ngIf="field.type!='select' && field.type!='checkbox' && field.type!='image'" [id]="field.key" [name]="field.key" [type]="field.type" class="sui-input" [(ngModel)]="field.value" (ngModelChange)="isValid(field)" [placeholder]="field.placeholder" [disabled]="field.disabled" [readonly]="field.readonly">
            <input *ngIf="field.type=='checkbox'" [id]="field.key" [name]="field.key" [type]="field.type" class="sui-checkbox" [(ngModel)]="field.value" (ngModelChange)="isValid(field)" [placeholder]="field.placeholder" [disabled]="field.disabled" [readonly]="field.readonly">
            <input *ngIf="field.type=='image'" [id]="field.key" [name]="field.key" type="image" accept="image/*" [(ngModel)]="field.value" (ngModelChange)="isValid(field)" [placeholder]="field.placeholder" [disabled]="field.disabled" [readonly]="field.readonly">
            <p>
                <select [id]="field.key" [name]="field.key" [(ngModel)]="field.value" *ngIf="field.controlType=='dropdown'" class="sui-select">
                        <option style="display:none" value="">Choose an option</option>
                        <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
                </select>
            </p>
            <span *ngIf="!isValid(field)" class="sui-text-error"> {{field.label}} required </span>
        </div>
        <div class="sui-container sui-right ">
            <button (click)="onSuiFormSubmit()" [disabled]="!isFormValid" type="button" class="sui-btn-success"><i class="fa fa-check-circle-o"></i> Save</button>
            <button (click)="onSuiFormCancel()" type="button" class="sui-btn-danger"><i class="fa fa-times"></i> Cancel</button>
        </div>
    </form>
</div>