<div class="sui-container">
    <form role="form" class="sui-form">
        <sui-alert [message]="validationSummary" [type]="alertType" heading="Error !" > </sui-alert>
        <div *ngFor="let field of fields" class="sui-row">
            <sui-input [field]="field"> </sui-input>
        </div>
        <div class="sui-container sui-right ">
            <button (click)="onSuiFormSubmit()"  type="button" class="sui-btn-success"><i class="fa fa-check-circle-o"></i> Save</button>
            <button (click)="onSuiFormCancel()" type="button" class="sui-btn-danger"><i class="fa fa-times"></i> Cancel</button>
        </div>
    </form>
</div>